/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
}

.wrapper {
    overflow: auto;
    background-image:url('assets/images/background.jpg');
    
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }
